<nav>
  <a href="/films">Films Index</a>
  <a href="/directors">Directors Index</a>
</nav>

<h1>Directors Index</h1>
<h2><a href="/directors/new">Add New Director</a></h2>
<br>
<% @directors.desc_order_by_created.each do |director| %>
  <p><%= director.name %> - Created at: <%= director.created_at %></p>
<% end %>