<head>
  <style media="screen">
    h3 {text-decoration: underline}
  </style>
</head>

<h1>Welcome to Relational Rails</h1>
<section>
<h3>Authors</h3>
<ul>
  <li>Tim Roeder</li>
  <li>Brad Breiten</li>
</ul>

<h3>About</h3>
<p>Completed in requirement of Turing 2110 Backend Program Mod 2</p>
</section>

<h3>Projects</h3>
<nav>
  <%= link_to "Directors and Films Project", "/directors" %>
  <br><br>
  <%= link_to "Galleries and Pieces Project", "/galleries" %>
</nav>
