<nav>
  <a href="/pieces">Art Pieces</a>
  <a href="/galleries">Galleries</a>
</nav>

<h1>Art Pieces</h1>

<h3><u>Original Pieces</u></h3>
<% @pieces.original_only.each do |piece| %>
    <h5> <a href="/pieces/<%= piece.id %>"> <%= piece.name %> </a></h5>
    <p> Artist: <%= piece.artist %> </p>
    <p> Year Created: <%= piece.year %> </p>
    <p> Original?:
      <% if piece.original == true %>
        Original
      <% else %>
        Reprint
      <% end %>
    </p>

<% end %>
