<nav>
  <a href="/pieces">Art Pieces</a>
  <a href="/galleries">Galleries</a>
</nav>

<h1> <%= @piece.name %> </h1>

<p>Artist: <%= @piece.artist %> </p>
<p>Year Created: <%= @piece.year %> </p>
<p>Original?:
  <% if @piece.original == true %>
    Original
  <% else %>
    Reprint
  <% end %>
</p>

<h2><a href="/pieces/<%= @piece.id %>/edit">Update Art Piece Information</a></h2>
