<nav>
  <a href="/films">Films Index</a>
  <a href="/directors">Directors Index</a>
</nav>

<h1><%= @film.name %></h1>
<ul>
  <li>Rotten Tomatoes Rank: <%= @film.rt_rank %></li>
  <li>Award Nomintated Film: <%= @film.nominated %></li>
<ul>