<nav>
  <a href="/films">Films Index</a>
  <a href="/directors">Directors Index</a>
</nav>

<h1><%= @film.name %></h1>
<h2><a href="/films/<%= @film.id %>/edit">Update Film</a></h2>
<ul>
  <li>Rotten Tomatoes Rank: <%= @film.rt_rank %></li>
  <li>Award Nominated Film: <%= @film.nominated %></li>
<ul>