<a href="/pieces">All Art Pieces</a>
<h1>Galleries Index</h1>

<% @galleries.each do |gallery| %>
  <h3><a href="/galleries/<%= gallery.id %>"> <%= gallery.name %></a> </h3>
  <p>Created At: <%= gallery.created_at %></p>

<% end %>
