<nav>
  <a href="/pieces">Art Pieces</a>
  <a href="/galleries">Galleries</a>
</nav>

<h1>Galleries Index</h1>

<h2><a href="/galleries/new">Add New Gallery</a></h2>

<section>
  <h2>Galleries:</h2>

<% @galleries.each do |gallery| %>
  <section style="padding: 10px; border: 2px solid red;">
    <h3><a href="/galleries/<%= gallery.id %>"> <%= gallery.name %></a> </h3>
    <%= link_to "Edit #{gallery.name} Info", "/galleries/#{gallery.id}/edit" %>
    <p>Created At: <%= gallery.created_at %></p>
  </section>
<% end %>
</section>
