<nav>
  <a href="/films">Films Index</a>
  <a href="/directors">Directors Index</a>
</nav>

<h1><%= @director.name %></h1>
<% @films.each do |film| %>
  <h3><%= film.name %></h3>
  <ul>
    <li>Rotten Tomatoes Rank: <%= film.rt_rank %></li>
    <li>Award Nominated Film: <%= film.nominated %></li>
  </ul>
<% end %>